@charset "utf-8";

.wrap {
    width: 1200px;
}
.section {
    display: flex;
}

.header {
    width: 200px;
    background: #999;
}
.contents {
    width: 1000px;
}

.slide {
    background: #eee;
    height: 400px;
}
.banner {
    background: #ccc;
    height: 200px;
}
.notice {
    background: #aaa;
    height: 250px;
}
.footer {
    background: #111;
    height: 100px;
}