@charset "utf-8";


p::before {
    /* 특수문자는 한글의 자음 + 한자키 */
    content: "";
    color: red;
    width: 8px;
    height: 8px;
    font-size: 8px;
    margin-right: 16px;
    display: inline-block;
    border-radius: 50%;
    background: red;
}

P::after {
    /* 윈도우 키 + . or ; */
    content: "😜";
}