@charset "uft-8";


/* reset*/
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body, ul {
    margin: 0;
}
body {
    color: #333333;
    background: #fff;
    /* font: [굴기], [기울임], 크기 글꼴; */
    font: 15px Arial, 굴림, sans-serif;  
}
a {
    color: #333333;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}

/* A*/
header {    
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100px;
    width: 1340px;
    margin: 0 auto;
}
/* logo */
.logo {
    width: 190px;
    height: 44px;
}
/* 내비게이션 */
nav {
    align-self: flex-end;
}
/* 1depth */
.main {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;   
}
.main>li>a {    
    display: block;
    padding: 16px 24px;
}
.main>li>a:hover {
    background: #e31a40;
}
.sub {
    font-size: 1.4rem;
    font-weight: normal;
    display: none;
}

/* B*/
#slide {
    width: 100%;
    height: 350px;
    overflow: hidden; 

}
.image-slide {
    width: 100%;
    height: 350px;
    position: relative;   
}
.image-slide li {
    width: 100%;
    height: 350px;
    position: absolute;   
}
.image-slide img {   
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/*
#slide ul {
    display: flex;
    width: 400%;
    height: 350px;
    animation: slider 12s infinite;
}
#slide li {   
    width: 25%;
    height: 350px;

}
#slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

@keyframes slider {
    0% {transform: translateX(0%)}
    10% {transform: translateX(-25%)}
    33% {transform: translateX(-25%)}
    43% {transform: translateX(-50%)}
    66% {transform: translateX(-50%)}
    76% {transform: translateX(-75%)}
    99.99% {transform: translateX(-75%)}
    100% {transform: translateX(0%)}
}
*/
#modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#modal .popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background: #d8f6a4;
    padding: 20px;
}

#modal .popup button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/* C D 공통*/
.container {
    width: 1340px;
    margin: 0 auto;
    position: relative;
    top: -100px;
}
/* C영역 */
#link {
    height: 100px;
    background: #e31a40;
}
#link ul {
    display: flex;
    /* flex-direction: row; (기본값) */
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
#link li {
    width: 120px;
    height: 60px;
}
#link li img {
    width: 60px;
    height: 60px;
    /* 인라인 요소의 수직 배치, img는 인라인 요소 */
    vertical-align: middle;
    margin-right: 8px;
}

#banner {
    display: flex;
    align-items: center;
    height: 150px;
    padding: 0 70px;
    border: 1px solid dotted
}
#banner img {
    width: 100px;
    height: 80px;
}
#banner .txt {
    margin: 0 160px 0 24px;
}

#board>ul {
    display: flex;
}
#board>ul>li {
    width: 160px;
    height: 30px;
}

#board>div {

    display: none;
}
#board>div.on {
    display: block;
}

#board {
    display: flex;
    height: 300px;
    padding: 20px 40px;
}
#board>div {
    width: 600px;
    height: 260px;  
}
/* 공지사항 */
#board .notice {
    line-height: 2;
    margin-right: 60px;
}
.notice {
    list-style: none;
    padding: 0;
    width: 400px;
}
.notice li {
    border-bottom: 1px solid #ccc;
    padding: 4px 0;
}

.notice a {
    text-decoration: none;
    color: #333;           
}

.notice a:hover {
    background: rgba(51, 51, 51, 0.5);     
    font-weight: 600;     
}

.notice span {
    width: 510px;
    display: inline-block;
    /* 수직 정렬 */
    vertical-align: top;
    /* 생략 ... 효과 
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;*/
}
.gallery img {
    display: block;
    width: 180px;
    height: 140px;
    margin-bottom: 8px;
  
}
.gallery div {
    display: flex;
}
.gallery a {
    height: 170px;
    margin: 0 10px;
}
/* D*/
footer {
    height: 100px;  
    display: flex;   
    align-items: center;
    padding: 0 30px;
    background: #111;
}
footer a {
    color: #fff;
}
.flogo {
    width: 200px;

}
.addr {
    width: 900px;
}
.fs {
    width: 240px;
}