@charset "uft-8";

body * {
    outline: 1px solid red;
}
/* reset*/
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body, ul {
    margin: 0;
}
body {
    color: #333333;
    background: #fff;
    /* font: [굴기], [기울임], 크기 글꼴; */
    font: 1.5rem Arial, 굴림, sans-serif;  
}
a {
    color: #333333;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}

/* A*/
header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100px;
    width: 1340px;
    margin: 0 auto;
}
/* logo */
.logo {
    width: 190px;
    height: 44px;
}
/* 내비게이션 */
nav {
    align-self: flex-end;
}
/* 1depth */
.main {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;   
}
.main>li>a {    
    display: block;
    padding: 16px 24px;
}
.main>li>a:hover {
    background: #e31a40;
}
.sub {
    font-size: 1.4rem;
    font-weight: normal;
    display: none;
}

/* B*/
#slide {
    height: 350px;
    overflow: hidden;
}
/* C D 공통*/
.container {
    width: 1340px;
    margin: 0 auto;
    position: relative;
    top: -100px;
}
/* C영역 */
#link {
    height: 100px;
    background: #e31a40;
}
#link ul {
    display: flex;
    /* flex-direction: row; (기본값) */
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
#link li {
    width: 120px;
    height: 60px;
}
#link li img {
    width: 60px;
    height: 60px;
    /* 인라인 요소의 수직 배치, img는 인라인 요소 */
    vertical-align: middle;
    margin-right: 8px;
}
#banner {
    display: flex;
    align-items: center;
    height: 150px;
    padding: 0 70px;
}
#banner img {
    width: 100px;
    height: 80px;
}
#banner .txt {
    margin: 0 160px 0 24px;
}
#board {
    display: flex;
    height: 300px;
    padding: 20px 40px;
}
#board>div {
    width: 600px;
    height: 260px;  
}
#board .notice {
    margin-right: 60px;
}
.gallery img {
    display: block;
    width: 180px;
    height: 140px;
    margin-bottom: 8px;
}
.gallery div {
    display: flex;
}
.gallery a {
    height: 170px;
    margin: 0 10px;
}
/* D*/
footer {
    height: 100px;  
    display: flex;   
    align-items: center;
    padding: 0 30px;
}
.flogo {
    width: 200px;

}
.addr {
    width: 900px;
}
.fs {
    width: 240px;
}