@charset "uft-8";

body * {
    outline: 1px solid red;
}
/* reset*/
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body, ul {
    margin: 0;
}
body {
    color: #333333;
    background: #fff;
    /* font: [굴기], [기울임], 크기 글꼴; */
    font: 1.5rem Arial, 굴림, sans-serif;  
}
a {
    color: #333333;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}

/* A*/
header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100px;
    width: 1340px;
    margin: 0 auto;
}
/* logo */
.logo {
    width: 190px;
    height: 44px;
}
/* 내비게이션 */
nav {
    align-self: flex-end;
}
/* 1depth */
.main {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;   
}
.main>li>a {    
    display: block;
    padding: 16px 24px;
}
.main>li>a:hover {
    background: #e31a40;
}
.sub {
    font-size: 1.4rem;
    font-weight: normal;
    display: none;
}

/* B*/
#slide {
    height: 350px;
    overflow: hidden;
}
/* C D 공통*/
.container {
    width: 1340px;
    margin: 0 auto;
    position: relative;
    top: -100px;
}
#link {
    height: 100px;
    background: #e31a40;
}
#banner {
    height: 150px;
}
#board {
    height: 300px;
}
/* D*/
footer {
    height: 100px;  
    display: flex;   
    align-items: center;
    padding: 0 30px;
}
.flogo {
    width: 200px;

}
.addr {
    width: 900px;
}
.fs {
    width: 240px;
}