@charset "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
@import url(common/reset.css);
@import url(common/typo.css);

/* 상단 영역 */
.top_wrap {
    display: flex;
}

/* 헤더 영역 */
header {
    width: 200px;
    padding: 20px;
}

/* 로고 */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

/* 내비게이션 */
#gnb {
    margin-bottom: 24px;
}
/* 1depth */
#gnb .main>li {
    width: 160px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
}

#gnb .main>li:hover {
    background: #333;
}

/* 2depth */
#gnb .sub {
    position: relative;
    left:160px;
    top: -40px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    padding: 10px 0 20px;
    transition: .3s;
    line-height: 2;
    background: red;
}

#gnb .main>li:hover .sub {
    height: 150px;
    visibility: visible;
    opacity: 1;
}

#gnb .sub li a {
    display: block;
}

#gnb .sub li:hover a {
    background: #111;
}

/* 스팟 메뉴 */
header .spot_menu a:first-child::after {
    content: "|";
    margin: 0 4px;
}
header .spot_menu a:hover {
    text-decoration: underline;
}

/* 메인 콘텐츠 */
#main_contents {
    width: 400px;
    border: 1px solid;
    padding: 0 24px;
}

/* 배너 영역 */
#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: aliceblue;
    margin-bottom: 32px;
}

/* 배너 이미지 */
#banner span {
    width: 40px;
    height: 30px;
    background: #ccc;
}

/* 배너 타이틀 및 설명글 */
#banner>div {
    width: 300px;
}

#banner>div h2 {
    margin-bottom: 4px;
}

#banner a {
    width: 12px;
}

/* 공지사항 */
#notice {
    margin-bottom: 48px;
}
#notice li {
    line-height: 2.3;
    border-bottom: 1px dotted #ccc;
}

#notice li a {
    display: inline-block;
    width: 250px;
}

/* 갤러리 */
#gallery ul {
    display: flex;
    justify-content: space-between;
    line-height: 2.3;
    margin-top: 8px;
}

#gallery span {
    display: block;
    width: 150px;
    height: 100px;
    background: #ccc;
}

/* 슬라이드 이미지 */
#slide {
    width: calc(100% - 600px);
    height: 700px;
    background: rgba(240, 68, 103, 0.5);
}

/* 푸터 영역 */
footer {
    display: flex;
    align-items: center;
    height: 100px;
    background: #111;
    color: #fff;
}

footer a {
    color: #fff;
}

/* 하단 로고 */
footer .flogo {
    width: 190px;
    text-align: center;
}

/* 주소 및 저작권 */
footer p {
    width: 850px;
}

/* SNS */
/* 폰트어썸 코드로 삽입하기 */
footer .sns a {
    margin: 0 8px;
    font-size: 3rem;
}
footer .sns a i {
    color: #555;
    transition: .3s;
}
footer .sns a:hover i {
    transform: scale(1.2,1.2);
}
footer .sns a:nth-child(1):hover i {
    color: #1877F2;
}
footer .sns a:nth-child(2):hover i {
    color: #1D9BF0;
}
footer .sns a:nth-child(3):hover i {
    color: #B803EE;
}

/* 배경 이미지로 삽입하기 */
/* footer .sns a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 8px;
    text-indent: -9999em;
    background: no-repeat 50% 50%;
    transition: .5s;
}
footer .sns a:nth-child(1) {
    background-image: url(images/facebook.svg);
}
footer .sns a:nth-child(2) {
    background-image: url(images/twitter.svg);
}
footer .sns a:nth-child(3) {
    background-image: url(images/instagram.svg);
}

footer .sns a:hover {
    transform: scale(1.2,1.2);
}
footer .sns a:nth-child(1):hover {
    background-image: url(images/facebook_hover.svg);
}
footer .sns a:nth-child(2):hover {
    background-image: url(images/twitter_hover.svg);
}
footer .sns a:nth-child(3):hover {
    background-image: url(images/instagram_hover.svg);
} */
