@charset "utf-8";

* {
    margin: 0;
}

.video-wrap {
    position: relative;
}
.video-wrap video{
    opacity: 1.2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;   
}

.video-text {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    /* transform: translate(-50% -50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    z-index: 2;
}
.video-text h2 {
    font-size: 64px;
    color: #fff;
}
.video-text p {
    font-size: 24px;
    color: #fff;
   
}
.video-btn {
    z-index: 3;
    position: absolute;
    bottom: 20px;
    left: 50%;     
    
}
.video-btn img {
    width: 20px;
    height: 20px;
    object-fit: cover;      
    transform: translateX(2px); 
    margin-top: 2px;
    
}
.video-btn a {
    width: 24px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: #777;
   
}