@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* typo */
html {
    font-size:10px;
}
body {
    /* font: 굵기 크기/줄간격 글꼴1, 글꼴2; */
    font: 300 1.5rem/1.6 "Noto Sans KR", sans-serif;
}
h2, h3 {
    font-weight: 300;
}
img, video {
    /* width: 100%;
    max-width: 100%; */
    height: auto;
}
.col-md {
    position: relative;
}
.me::before {
    content: "";
    width: 2rem;
    height: 1.7rem;
    position: absolute;
    background-image: url(../images/person.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-30px);
    vertical-align: bottom;
}