@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);
@import url("clock.css");



/* common
==================================================*/
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    /* font: 굵기 크기/줄간격 글꼴1, 글꼴2; */
    font: 300 1.5rem/1.6 "Noto Sans KR", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2 {
    font-weight: 300;
    text-align: center;
    margin: 90px 0 30px;
}

h3 {
    font-weight: 300;
    text-align: center;
    letter-spacing: 10px;
    font-size: 1.5rem;
    margin: 16px 0;
}

img,
video {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    vertical-align: top;
}

#s3 .container .row .col-sm img {
    border: 1px solid #ccc;
}

.me::before {
    content: "";
    width: 2rem;
    height: 1.7rem;
    position: absolute;
    background-image: url(../images/person.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-30px);
    vertical-align: bottom;
}

p {
    margin-bottom: 48px;
}

input {
    border: none;
}

iframe {
    width: 100%;
    border: 0;
    border-radius: 5px;
}

.btn {
    font-size: 1.5rem;
    padding: 8px 24px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.container {
    margin-bottom: 60px 24px;
}

.container>p {
    text-align: center;
    margin-bottom: 16px;
}

#s2 .row .col-md {
    position: relative;
}

.photo img {
    width: 200px;
    height: 240px;
    position: absolute;
    top: 0;
    right: 40%;
}

/* SECTION 2 SKill
====================================================*/
#s2 .row {
    overflow: hidden;
}

.profile1 {
    transform: translateY(300px);
    transition: transform .5s .2s;
}

.profile2 {
    transform: translateY(300px);
    transition: transform .5s .4s;
}

.photo {
    transform: translateY(300px);
    transition: transform .5s .7s;
}

/* video 
e.preventDefault(); -> a태그 클릭하면 현재 페이지 상단 올라가는 것 막는 메소드
========================================================*/
#s2 .vid {
    position: relative;

}

#s2 .vid i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}

#s2 .vid:hover i {
    opacity: 1;
}

/* progress bar 
================================================================*/
.progress {
    height: 30px;
    font-size: 1.5rem;
    padding: 0;
}


/* parallax background-image: parallax scrolling */
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat 50% 50%/cover fixed;
}

#s1 .container-fluid {
    height: 100vh;
    background-image: url(../assets/avengers.jpg);
}

#s3 .container-fluid {
    height: 400px;
    background-image: url(../assets/avengers.jpg);
}

#s4 .container-fluid {
    height: 400px;
    background-image: url(../assets/avengers.jpg);
}

/* background-imag: title */
.container-fluid>span {
    font-size: 3.6rem;
    letter-spacing: 10px;
    color: #fff;
}

#s2 .container {
    margin-bottom: 40px;
}


/* clock */

#clock {
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    bottom: 7%;
    text-align: center;
}

/*counter 
=============================================================*/
.counter {
    display: block;
    background: #616161;
    color: #fff;
    text-align: center;
    padding: 32px;
}

.counter .col-sm {
    padding: 20px 0;
}

.counter span {
    font-size: 2.4rem;
    display: block;
}

/* section3 portfolio */


#s3 {
    text-align: center;
}

#s3 .col {
    padding: 8px;
}

#s3 .col-sm {
    margin-bottom: 12px;
}

/* #s3 img {
    width: 100%;
} */

/* section4: contact */
#s4 input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 4px 0;
}

#s4 .row p {
    margin: 24px 0 8px;
}

#s4 ul {
    margin-top: 16px;
}

#s4 li {
    line-height: 2;
}

#s4 button.btn {
    margin-top: 16px;
    margin-bottom: 40px;
}



footer {
    padding: 30px 0;
    background: #000;
    text-align: center;
    color: #fff;
    background: url(../assets/patten3.png) #111;
    
}

footer a {
    color: #fff;
}

footer .sns {
    margin: 16px 0;
    font-size: 2.4rem;
}


/* 마우스 포인터 
=====================================================*/
.mp {
    position: absolute;
    border-radius: 50%;
}

.mp1 {
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
    /* background: url(mouse-cursor.png) no-repeat; */
    background: url(../assets/fire.png) no-repeat   50% 50%/cover; 
    /* ease-out을 사용! */
    transition: .7s ease-out;
}

/*  작은 원*/
.mp2 {
    width: 10px;
    height: 10px;
    background: #000;
    /* ease-out을 사용! */
    transition: .1s ease-out;
    opacity: 0;
}

/* 미디어 퀄리 992px 
=================================================================*/
@media (min-width: 992px) {

    .skill {
        margin-top: 48px;
    }

    #s4 [name="user_name"] {
        margin-right: 1%;
    }

    #s4 [name*="user"] {
        width: 49.2%;
    }

    #s4 [name="message"] {
        width: 100%;
    }

    footer {
        padding: 60px 0;

    }
}