@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    width: 100%;
    height: 100vh;
   
}
body { 
    background-color: #fff;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;

}
a {
    text-decoration: none;
    display: block;
    color: #111;
}
h2 {
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* header */
header {
    width: 100%;   
    height: 170px;
    position: fixed;
    z-index: 9999;    
    margin: 0 auto;   
    background-color: #fff;   
    
}
.head-container {
    position: relative;
    display: flex;
    justify-content: space-between;  
}
.logo {
 
    width: 200px;     
    margin-left: 250px;
    margin-top: 20px;
    align-self: baseline;  
}
nav {
    /* width: calc(100% - 300px); */
    z-index: 3;    
}
.menu {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-top: 120px;
  
}
.menu>li>a {
    width: 160px;
    height: 30px;
    line-height: 30px;  
    text-align: center;
    font-size: 16px;
}
.menu>li:hover >a {
    background-color: #555;
    color: #fff;
    border-radius: 50% 50% 0 0 ;
}
.sub {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: 0.7s;
}
.menu>li:hover .sub {
    visibility: visible;
    height: 120px;
    opacity: 1;
}
.sub>li>a {
    width: 160px;
    height: 30px;
    line-height: 30px;   
    text-align: center;
}
.sub>li:hover >a {
    text-decoration: underline;   
    color: #111;
}

/* 로그인 회원가입 English */
.menu-right {
    width: 400px;
    display: flex;
    justify-content: space-evenly;   
    margin-top: 50px;
    transform: translateX(-250px);
}

.login {
    margin-right: -30px;
}
.lang {
     margin-left: -30px; 
}

.login:hover >a {
    color: tomato;
    font-weight: bold;
}
.join:hover >a {
    color: tomato;
    font-weight: bold;    
}

.lang::before { 
    content: url(../images/lang1.png);      
    cursor: pointer;
} 
.lang:hover::before {
    transform: scale(1.1);
}
select {
    border: none;   
    vertical-align: baseline;
}

/* 내비게이션 배경 삽입 */
.menu {
    width: 100%;
    /* position: relative; */
}
.sub::before {
    content: "";
    position: absolute;
    right: 0;
    z-index: -1;
    visibility: hidden;
    width: 100%;
    height: 0;
    transition: 0.9s;
    background-color: #fff;
}
.sub:hover::before {
    visibility: visible;
    height: 150px;
    /* opacity: 0.5; */
}

/* slider */
.slide-images {
    width: 100%;
    height: 800px;
    overflow: hidden;  
    object-fit: contain;  
    object-position: top; 
   
}
.slide-images>ul {
    display: flex;
    width: 400%;   
    animation: slide 12s infinite;
}
.slide-images>ul>li {
    position: relative;
    width: 25%;
    height: 800px;
    background: no-repeat center/cover;   
}
.slide-images>ul>li>P {
    font-size: 54px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.slide-images>ul>li>p .line-thru {
    text-decoration: line-through;
}
.slide-images li:nth-of-type(1) {   
    background-image: url("../images/image01.jpg") ;     
}
.slide-images li:nth-of-type(2) {   
    background-image: url("../images/image02.jpg") ;   
}
.slide-images li:nth-of-type(3) {   
    background-image: url("../images/image03.jpg") ;   
}
.slide-images li:nth-of-type(4) {   
    background-image: url("../images/image01.jpg");   
}

@keyframes slide {
    0% {transform: translateX(0%);}
    10% {transform: translateX(-25%);}
    33% {transform: translateX(-25%);}
    43% {transform: translateX(-50%);}
    66% {transform: translateX(-50%);}
    76% {transform: translateX(-75%);}
    99.99% {transform: translateX(-75%);}
    100% {transform: translateX(0%);}
}

.carousel-btn .prev-btn {
    position: absolute;
    left: 5%;
    top: 400px;
}
.carousel-btn .next-btn {
    position: absolute;
    right: 5%;
    top: 380px;
}
.carousel-btn img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

/* pager pagination */
.pager {
    width: 100px;
    height: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
}
.slide-images {
    position: relative;
}
.slide-images .pager {   
    position: absolute;
    bottom: 30px;
    left: 50%;   
}

/* restaurant */
#rest {
    width: 100%;
    height: 800px;
    background-color: #ff281e;
}
/* #rest h2 a {
    color: #fff;
} */
.rest-wrap {
    position: relative;
    display: flex;
    justify-content: center;    
    height: 600px;
    padding: 20px 0;  
    overflow: hidden;
}
.rest-wrap>li {  
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* background-color: #666;    */
}
.rest-wrap>li>a {
    width: 150px;
    color: #fff;
}
.rest-wrap>li:hover >a {
    /* color: #111;    */
    font-weight: 600;
    background-color: #ac130c;
    border-radius: 20px;
}
.rest-wrap img {
    margin: 20px 30px;
    border-radius: 15px;
}
.rest-wrap img:hover {
    opacity: 0.8;
}
/* 각 ul의 li에 flex */

.sub-wrap img {
    width: 360px;
    height: 250px;
    object-fit: cover;   
}
.sub-wrap ul li {
    margin-right: -30px;
}
.sub-wrap ul li p {    
    width: 360px;
    text-align: center;  
    border: 1px solid #555;     
    margin-left: 30px;
    margin-top: -20px;
}
.sub-wrap ul li p a {
    color: #fff;
}
.steak {  
    display: flex;
    justify-content: center;      
}

.buffet {
    display: flex;
    justify-content: center;    
}

.cafe {
    display: flex;
    justify-content: center;    
}

.burgers {
    display: flex;
    justify-content: center;    
}
/* restaurant jQuery 적용 부분 hover 효과*/
.rest-wrap>li> div {
    position: absolute;
    left: 0;   
    top: 100px;
    height: 0;
    overflow: hidden;
}

.rest-wrap>li.active div {
    width: 100%;
    height: 400px;
    z-index: 1;
}
.sub-wrap ul li img:hover {   
    background: rgba(51, 51, 51, 0.806);
    transform: scale(1.1);
}


/* casino */

.games-wrap {
    width: 100%;  
}
.game-common li a {
    width: 399px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
    color: #343840;    
   
}
.game-common p {
    width: 400px;
    height: 60px;
    text-align:left;
    font-size: 16px;  
    color: #343840;
    margin-top: 90px; 
    margin-left: 300px;
}
.game-common p:nth-child(2n) {
    margin-right: 300px;
}

.game-common>li {
    margin: 40px 0;
}
.game-common li div img {
    width: 400px;
    height: 225px;
    object-fit: cover;
  
}

.game1>li {
    display: flex;
    justify-content: center;
    /* background: #eee; */
  
   
    /* position: absolute;
    left: 40%;
    top: 0;  */
}
.game2>li {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;

    /* position: absolute;
    right: 40%;
    top: 400px;  */
}
.game3>li {
    display: flex;
    justify-content: center;
   
    /* position: absolute;
    left: 40%;
    top: 800px; */
}
.game4>li {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  
    /* position: absolute;
    right: 40%;
    top: 1200px; */
}
/* casino parallax scrolling */
.game1::after, .game2::after, .game3::after {
    content: "";
    display: block;
    width: 100%;
    height: 200px;
    background: no-repeat center center/cover;    
    background-attachment: fixed;   
    background-image: url(../images/img4.jpg);  
}

/* shows */
#shows {
    width: 100%;    
    background-color: #f1f1f6;
   
}
.show-container {  
    margin: 20px 0;     
}
.content {
    width: 100%;   
}
.content>h3 {
    font-size: 40px;
    text-align: center;
}
.content>p {   
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
.fades { 
    width: 100%;
    height: 800px;
    /* display: flex; */
    position: relative;
    margin-top: 50px;      
}
.carousel-btn .prev-btn {
    position: absolute;
    left: 5%;
    top: 400px;
}
.carousel-btn .next-btn {
    position: absolute;
    right: 5%;
    top: 380px;
}
.carousel-btn img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

/* 이미지를 브라우저 가운데 정렬: ul에 width 100%, img에 이미지 사이즈 지정하여 margin 0 auto; 지정*/
.slider {
    width: 100%;
    height: 100%;
    position: absolute;      
}
.slider>img {
    display: block;
    max-width: 1920px;
    max-height: 800px;
    margin: 0 auto;      
    object-fit: cover;
    object-position: center center;
}

/* p 배치 */
.slider>p {
    position: absolute; 
    left: 40%;
    bottom: 20%;
    color: #fff;   
    font-size: 34px;
    font-weight: 700;      
}
.slider1>p>span {
    font-size: 24px;
}
.slider3>p>span {
    font-size: 20px;
}
.slider .illust {
    position: absolute;
    right: 23%;
    top: 10%;   
}
.slider>a:nth-of-type(2) {
    right: 25%;
    top: 14%;
}
.slider>a:nth-of-type(3) {
    right: 20%;
    top: 16%;
}


/* shop */
.shop {
    width: 100%;  
    border: solid;   
}
.shop-wrap {
    width: 100%;
    height: 850px;
    margin: 0 auto;      
}
.shop>h2 {
    margin-bottom: 20px;
}
.shop1 {
    width: 1800px;
    margin: 0 auto;
}
.shop1-wrap {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    /* grid-template-columns: 40% 60%;
    grid-template-rows: 400px; */ 
}
.shop1-content {
    align-self: center;   
    transform: translateX(100px);  
    /* width: 400px; */   
    font-size: 15px;
    /* grid-column: 1/2;
    grid-row: 1/2;    */
    /* align-self: start; */
    /* margin-left: 50px;   */
    /* transform: translateY(100px);   */  
}

/* .shop1-image {
    grid-column: 2/3;
    grid-row: 1/2;  
    /* transform: translateX(140px); 
    
} */

.shop1-image img {
    width: 680px;
    height: 380px;
    object-fit: cover;
    object-position: center top;
}
.shop1-content .forum {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}

/* shop2 영역 */
.shop2 {
    width: 1800px;
    margin: 0 auto;
}
.shop2-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    /* grid-template-columns: 60% 40%;
    grid-template-rows: 400px; */
}
.shop2-content {   
    transform: translateX(-100px);   
    align-self: center;
    /* width: 400px; */
    /* grid-column: 2/3;
    grid-row: 1/2; */
    /* margin-top: 100px; */
    /* transform: translateX(40px);   */
   
}
.shop2-content .appian {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}
.shop2-image {
    grid-column: 1/2;
    grid-row: 1/2;
    /* transform: translateX(80px); */
}


/* more */

/* footer */

footer {
    
    background-color: #000;
    width: 100%;
    height: 370px;
    display: flex;  
    align-items: center; 
}
.logo_btm { 
    margin-right: 100px; 
    margin-left: 205px;     
}
.footer-center {
   /* width: calc(100% - 770px); */
  
    height: 370px;
    /* transform: translateX(-250px);  */
    border: solid;
}
.sisters {
    margin: 65px 0;
 
}
.sisters a {
    display: inline-block;   
}

.scLists1 span a {
    display: inline-block;
    padding-right: 30px;
    padding-bottom: 20px;
    color: #fff;
    /* margin-bottom: 20px; */
}
.scLists2 span a {
    display: inline-block;
    padding-right: 40px;
    padding-bottom: 20px;
    color: #fff;
}
.copyright {
    color: #ffffff85;
    font-weight: 100;
}
.copyright p:nth-of-type(2) {
    font-size: 14px; 
}

/* footer-right */
.footer-right {
   
    width: 300px;
   
}
.family-site {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #777;
}
.family-site h3 { 
  
    margin-right: 50px;
    padding-bottom: 8px;
    font-weight: 500;    
    color: #fff;
}
#options {
    transform: translateY(-60px);
}
.sns {
    display: flex;
    margin-top: 30px;  
}
.sns img {
    margin-right: 12px;
}
.sns a:nth-of-type(4) {
    transform: translateY(-6px);
}
#options {
    color: #fff;
    display: none;
}
