@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    width: 100%;
    height: 100vh;
   
}
body { 
    background-color: #fff;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;

}
a {
    text-decoration: none;
    display: block;
    color: #111;
}

/* header */
header {
    width: 100%;
    height: 120px;
    background: #ccc;
    display: flex;
    justify-content: space-between;   
    margin: 0 auto;
    
}
.logo {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-left: 20px;
}
nav {
    width: calc(100% - 300px);
    z-index: 1;
}
.menu {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-top: 60px;    
}
.menu>li>a {
    width: 160px;
    height: 30px;
    line-height: 30px;  
    text-align: center;
    font-size: 16px;
}
.menu>li:hover >a {
    background-color: #555;
    color: #fff;
    border-radius: 50% 50% 0 0 ;
}
.sub {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: 0.7s;
}
.menu>li:hover .sub {
    visibility: visible;
    height: 120px;
    opacity: 1;
}
.sub>li>a {
    width: 160px;
    height: 30px;
    line-height: 30px;   
    text-align: center;
}
.sub>li:hover >a {
    background-color: tomato;
    color: #fff;
}

/* 로그인 회원가입 English */
.menu-right {
    width: 200px;
    display: flex;
    justify-content: space-around;    
    margin-right: 60px;
    margin-top: 10px;
}
.login:hover >a {
    color: tomato;
    font-weight: bold;
}
.join:hover >a {
    color: tomato;
    font-weight: bold;    
}
.lang:hover img {
    color: tomato;
    width: 33px;
    height: 33px;
}

/* 내비게이션 배경 삽입 */
.menu:li {
    position: relative;
}
.sub::before {
    content: "";
    position: absolute;
    right: 0;
    z-index: -1;
    visibility: hidden;
    width: 100%;
    height: 0;
    background-color: skyblue;

}
.sub:hover::before {
    visibility: visible;
    height: 150px;
    opacity: 0.5;
}


/* slider */
.slide-images {
    width: 100%;
    height: 1080px;
    overflow: hidden;  
  
}
.slide-images>ul {
    display: flex;
    width: 400%;   
    animation: slide 12s infinite;
}
.slide-images>ul>li {
    width: 25%;
    height: 1080px;
    background: no-repeat center/cover;   
}
.slide-images>ul>li:nth-of-type(1) {   
    background-image: url("../images/burger1.jpg") ;     
}
.slide-images li:nth-of-type(2) {   
    background-image: url("../images/burger2.jpg") ;   
}
.slide-images li:nth-of-type(3) {   
    background-image: url("../images/burger3.jpg") ;   
}
.slide-images li:nth-of-type(4) {   
    background-image: url("../images/burger1.jpg");   
}


/* .slide-images img {
    width: 100%;
    object-fit: cover;   
} */

@keyframes slide {
    0% {transform: translateX(0%);}
    10% {transform: translateX(-25%);}
    33% {transform: translateX(-25%);}
    43% {transform: translateX(-50%);}
    66% {transform: translateX(-50%);}
    76% {transform: translateX(-75%);}
    99.99% {transform: translateX(-75%);}
    100% {transform: translateX(0%);}
}

