
/* footer 영역 */
footer {
    width: 1320px;
    height: 120px;
    background: #0a9b97;
    color: #fff;
    display: flex;
    align-items: center;   
}
footer a {
    color: #fff;
}
/* 하단 로고 */
footer .flogo {
    width: 190px;
}
/* 하단 메뉴 */
footer ul {
    display: flex;
    margin-bottom: 8px;
}
footer ul a {
   text-decoration: underline;
}

/* 가상클래스
선택자1:not(선택자2)
li:not(:last-child) */
footer ul li:not(:last-child) a::after {
    content: "|";
    margin: 0 8px;
}
/* footer ul li a::after {
    content: "|";
    margin: 0 8px;
}
footer ul li:last-child a::after {
    content: "";
    margin: 0px;
} */

/* 주소 및 저작권 */
footer p {
    width: 850px;
}