

* {
    /* border와 padding이 width/height에 같이 포함됨 */
    box-sizing: border-box;
}
body, h1, h2, ul, p { 
    margin:0;

}
body {
    background: #fff;
}
ul {
    padding-left:0; 
    list-style: none;
}
a{
    text-decoration: none;
    color: #666666;
}