

.tabs {
    position: relative;
    left: 50px;
    top: 50px;
    width: 550px;
    height: 250px;
}
.tabs input {
    display: none;
}


/* 탭의 버튼  */
.tabs label {
    position: relative;
    left: 30px;
    top: 1px;
    display: inline-block;
    /* label의 높이는 4px(좌우 합 8px)+글자크기(15px) */
    padding: 4px 24px;
    background: #999;
    color: #777;
    /* label 태그에 손모양 나오게 하기 */
    cursor: pointer;
}
.tabs input:checked+label {
    z-index: 99;
    background: #fff;
    color: #111;
    border: 1px solid #ccc;
    border-bottom: none;
}

/* 탭의 콘텐츠 */
.tabs>div {
    display: none;
    /* position:absolute;인 경우 width는 콘텐츠 크기 */
    position: absolute;
    width: 100%;
    /* label의 높이 만큼 32px 뺀 것임 */
    height: calc(100% - 32px);
    padding: 16px 24px;
    border: 1px solid #ccc;
}


/* .tabs 안의 하위요소인 :checked된 input 아래 동생 label을 선택 */


.tabs input:checked+label+div {
    display: block;
}


/* 공지사항의 콘텐츠 */

.tab1 li {
    line-height: 2.3;
    border-bottom: 1px solid #ccc;
}
.tab1 li span {
    /* width적용하면서 줄 바뀜하지 않기 위해 inline-block을 준 것임 */
    display: inline-block;
    width: 422px;
}

/* 갤러리의 콘텐츠 */
.tab2 div {
    width: 150px;
    height: 100px;
    background: #777;
}
.tab2 ul {
    display: flex;
    justify-content: space-between;
    line-height: .2;
    margin-top: 8px;
}