@charset "utf-8";

@import url(reset.css);
@import url(typo.css);

/* 공통 
뷰포트(viewport): 창 기준
1. vw
2. vh
3. vmin
4. vmax
*/
section {  
   height: 100vh;
   background: url(../assets/pic4.png) no-repeat -275px 0/cover;
}
.ibx {
    width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 1px solid;
    height: 100%;
}
/* section4 */
#s4 .cont {
    width: 560px;
    background: yellow;
}
