@charset "utf-8";
@import url(reset.css);
@import url(typo.css);

html {
    /* to the top을 부드럽게 스크롤 */
    scroll-behavior: smooth;
}


/* layout */
/* 박스모델 속성, display, position */
nav {

    height: 100px;
    line-height: 100px;
}

nav li {
    display: inline-block;

}

nav section {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    /* height 100px이 같이 사용되야 함 section에 높이 지정필수 */
}

nav ul {
    display: flex;
}

nav li:first-child::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
    width: 6px;
    height: 6px;
    margin: 0 12px 4px;
    background: #999;
}



/* header */
header {
    /* 패렐렉스 스크롤링 기법 background-attachement: fixed; */
    background: url(../assets/bg-light.png) no-repeat 50% 50%/cover fixed;
    line-height: 200px;
}

/* main */
main {
    padding-bottom: 200px;
}
h2 {
    margin: 56px 0;
}

section {
    width: 940px;
    margin: 0 auto;
}

.home-card {
    display: flex;
    justify-content: space-between;

}

.home-icon {
    width: 100px;
    height: 100px;
   
}

.home-description {
    width: 790px;   
}



/* section */
/* footer */
footer {
    text-align: center;
}


/* 