/* 링크 영역 */
#link {
    height: 100px;
    padding: 20px;
    background: bisque;
}
#link ul {
    display: flex;
    justify-content: space-evenly;
}
#link li a {
    display: flex;
    align-items: center;
}
/* 아이콘 이미지 */
#link ul li a span {
    width: 60px;
    height: 60px;
    background: #ccc;
    margin-right: 24px;
}