* {
    /* border와 padding 값이 width/height에 포함 */
    box-sizing: border-box;
}

body,h1,h2,ul,p {
    margin: 0;
}
body {
    background: #fff;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #666666;
}