@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 글자 크기 rem 단위 사용! */
/* :root는 html와 같다. */
/* rem 단위는 html에서 지정한 글자 크기의 배수 */
html {
    font-size: 10px;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    color: #666666;
}
h2 {
    font-size: 1.6rem;
}

/* 내비게이션 */
/* font의 위계 */
/* 1depth, mainmenu */
.main>li>a {
    font-size: 1.6rem;
    color: #999;
}

.main li:hover a {
    color: #fff;
}

/* 2depth, submenu */
.sub li a {
    font-size: 1.4rem;
    color: #333;
}
/* spot menu */
.spot_menu {
    font-size: 1.2rem;
}