@charset "utf-8";


*{
    box-sizing: border-box;
}

#signup h2{
    text-align: center;
    height: 80px;
    padding:20px 0;
}

form{
    font-size: 15px;
}

#signup .signup_cnt{
    width: 1400px;
    margin: 0 auto;
    border-top:1px solid black;
    padding: 50px 0;
    
}
/* #signup .essential {
    margin-right: 80px;
} */


#signup .signup_cnt label{
    display:inline-block;
    
}

#signup label{
    /* background: red; */
    margin-right:30px; 
    /* display: inline-block; */
    width: 190px;
}



#signup .essential::before{
    content:"◦";
    color:red;
}

#signup .common {
    width: 30vw;
    height: 40px;
    font-size: 16px;
    background: yellow;
}