@charset "utf-8";

/* 구글폰트 */
/* 본문: 한글Noto Sans kr, 영문 Noto Sans  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



/* 눈누폰트 (네이버 폰트)*/
/* 제목: 나눔스퀘어 네오 */
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
}


body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
}

h1, h2, h3 {
    font-family: "NanumSquareNeo", sans-serif;
}
h1 {
    font-size: 15px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 15px;
}

a {
    color: #111;
}